body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.App {
  overflow: hidden;
}

/* Easy way to debug css. 

* {
  outline: solid green 1px;
} */
